@import url("https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

html{
	--zindexMainNav: 100;

	/* General pallete  */
	--paginationSelectedItemBg: #2E2E2E;
	--paginationSelectedItemColor: #FFFFFF; 
	--paginationItemBorderColor: #2E2E2E;
	--paginationItemColor: #6e1717;
	--articleDescItems: #7A7A7A;
	--articleCountEllipseBg: #6e1717;
	--articleCountEllipseColor: #BFBFBF;
	--footerLinkColor: #e43c3c;
	--footerBorderColor: #323232;
	--articlePagination: #e43c3c;
	--articlePaginationBorder: #e43c3c;
	--articleDisabledPagination: #ddd;

	

	/* Light theme */
	--headerBackground: #FFFFFF;
	--headerNavLinkHover: #f1f1f1;
	--headerActiveNavLinkBg: #e7e7e7;
	--headerBorderColor: #BDBDBD;
	--headerNavLinkColor: #353535;
	--showMoreButtonColor: #3A3A3A;
	--articleTitle: #232323;
	--mainBackground: #FBFBFB;
	--mainColor: #353535;
}

html[theme=dark] {
	/* Dark theme */
	--headerBackground: #1C1C1C;
	--headerNavLinkHover: #272727;
	--headerActiveNavLinkBg: #313131;
	--headerBorderColor: #3b3b3b;
	--headerNavLinkColor: #BDBDBD;
	--showMoreButtonColor: #DEDEDE;
	--articleTitle: #CFCFCF;
	--articleDisabledPagination: #555555;
	--mainBackground: #202020;
	--mainColor: #FBFBFB;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	line-height: 1;
	list-style: none;
	font-family: 'Outfit', sans-serif;
	outline: none;
}

body {
	padding-top: 130px;
	min-height: 100vh;
	background-color: var(--mainBackground);
	color: var(--mainColor);
	transition: background-color .25s ease, color .25s ease;
}

main {
	width: 85%;
	max-width: 1200px;
	margin: auto;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: var(--mainBackground);
}

::-webkit-scrollbar-thumb {
	background-color: #868686;
	border: 3px solid var(--mainBackground);
	border-radius: 30px;
}